html, body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-user-select: none;
  user-select: none;
}

a {
  color: #fff;
  text-decoration: none;
}

#wrapper {
  margin: 0 auto;
  width: 900px;
  height: 770px;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
}

#toolbar {
  height: 65px;
  border-radius: 4px;
  background: #FFFFFF;
  -moz-box-shadow:    0px 3px 0px 0px #E4F1FF, 0px 4px 3px 0px #B4CDE5;
  -webkit-box-shadow: 0px 3px 0px 0px #E4F1FF, 0px 4px 3px 0px #B4CDE5;
  box-shadow:         0px 3px 0px 0px #E4F1FF, 0px 4px 3px 0px #B4CDE5;
  position: relative;
  padding: 1px;
  margin: 10px 0;
  .volume {
    float: left;
    margin-left: 5px;
  }
}
#wrapper-tracker{
  border-radius: 4px;
  background: #FFFFFF;
  -moz-box-shadow:    0px 3px 0px 0px #E4F1FF, 0px 4px 3px 0px #B4CDE5;
  -webkit-box-shadow: 0px 3px 0px 0px #E4F1FF, 0px 4px 3px 0px #B4CDE5;
  box-shadow:         0px 3px 0px 0px #E4F1FF, 0px 4px 3px 0px #B4CDE5;
  height: 500px;
  padding: 10px;
  margin: 10px 0 10px 0;
}
#tracker {
  //height: 390px;
  position: relative;
  overflow: scroll;
  background: #8BCDFF;
  background-image: -o-linear-gradient(-90deg, #72B0EB 0%, #8BCDFF 100%);
  background-image: -moz-linear-gradient(-90deg, #72B0EB 0%, #8BCDFF 100%);
  background-image: -webkit-linear-gradient(-90deg, #72B0EB 0%, #8BCDFF 100%);
  background-image: -ms-linear-gradient(-90deg, #72B0EB 0%, #8BCDFF 100%);
  background-image: linear-gradient(-180deg, #72B0EB 0%, #8BCDFF 100%);

}
#controls {
  padding: 0px 5px;
  a{
    padding: 8px 10px 0 10px;
    margin: 6px 5px 0 0;
    display: inline-block;
    height: 24px;
    color: #2D4255;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #D9E8F5;
    i.record{
      color: #F56A6C;
    }
    i.play{
      color: #8FD7A6;
    }
    i.stop{
      color: #FFD384;
    }
  }
}

.sep {
  margin: 0 5px;
  border-left: 1px solid #666;
}

#tracker-increment {
  position: absolute;
  top: 5px;
  right: 5px;
}

.tracker-increment {
  padding: 2px 5px;
  background: #fff;
  color: #000;
  font-size: 1.5em;
}

#modules-panel {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: relative;
  padding: 10px;
  margin: 10px 0 10px 0;
  border-radius: 4px;
  background: #FFFFFF;
  -moz-box-shadow:    0px 3px 0px 0px #E4F1FF, 0px 4px 3px 0px #B4CDE5;
  -webkit-box-shadow: 0px 3px 0px 0px #E4F1FF, 0px 4px 3px 0px #B4CDE5;
  box-shadow:         0px 3px 0px 0px #E4F1FF, 0px 4px 3px 0px #B4CDE5;
}

#modules-right {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
}

#module-collection {
  height: 50px;
}

#module-properties {
  width: 200px;
  h3{
    margin: 0 0 10px 0;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #2D4255;
    border-bottom: 1px solid #CAD5E1;
  }
}

#midiNotification {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 9;
}


body {
  background: #F5FAFF;
}
#wrapper {
  background: #F5FAFF;
  color: #eee;
}

#module-properties {
  background: #fff;
}
#node-editor {
  background: #F5FAFF;
  border-radius: 4px;
  -moz-box-shadow:    inset 0px 3px 0px 0px #E4F1FF, inset 0px 4px 3px 0px #B4CDE5;
  -webkit-box-shadow: inset 0px 3px 0px 0px #E4F1FF, inset 0px 4px 3px 0px #B4CDE5;
  box-shadow:         inset 0px 3px 0px 0px #E4F1FF, inset 0px 4px 3px 0px #B4CDE5;
}
#module-collection {
  color: #7598B2;
}
#module-collection {
  .moduleChooser {
    display: inline-block;
    margin: 8px 10px 0 0;
    padding: 4px 8px;
    border-radius: 2px;
    background: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 12px;
    border: 1px solid #D9E8F5;
  }
}

#tracker {
  .tracker {

  }
  font-family: monospace;
  font-size: 10px;

  .lineNumbers {
    width: 20px;
    color: #B4D4F0;
    text-align: center;
    .highlighted {
      color: #fff;
    }
  }
  .head {
    text-align: center;
    height: 12px;
    background: transparent;
    border: none;
    color: #B4D4F0;
    border-bottom: 1px solid #8BCDFF;
  }
  .foot {
    text-align: center;
    background: #000;
  }
  ul {
    display: inline-block;
    width: 36px;
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    box-sizing: border-box;
  }
  li {
    margin: 0;
    height: 10px;
    line-height: 8px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(255,255,255,0.20);
  }
  .track {
    border-left: 1px solid rgba(255,255,255,0.42);
    text-align: center;
    background: transparent;
    &:nth-child(odd) {
      background: rgba(95,159,213,0.33);
    }
    .note {
      color: #ff0;
    }
    .module {
      color: #f0f;
    }
    .slot.highlighted {
      background: #000;
    }
    .off-mode {
      opacity: 0.4;
      color: #fff;
      &.enabled {
        opacity: 1;
        color: #a33;
        &.controlByMe {
          color: #3f3;
        }
      }
    }
  }
}

#module-properties {
  padding: 0 10px 0 0;
  ul {
    padding: 10px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #CAD5E1;
  }
  li {
    list-style: none;
    padding: 5px 10px 0px 0px;
    margin: 0;
    position: relative;
    input[type=range] {
      width: 100%;
    }
    .title {
      font-family: 'Open Sans';
      font-size: 12px;
      color: #2D4255;
      float: left;
    }
    .valueText {
      float: right;
      font-family: 'Open Sans';
      font-size: 12px;
      color: #7598B2;
    }
  }
}

#midiNotification {
  padding: 6px 0 0 0;
  .notification-icon {
    color: #7598B2;
    font-family: monospace;
    font-size: 8px;

    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #D9E8F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    display: inline-block;
    float: left;
    padding: 12px 10px 0 10px;
    margin: 0 5px 0;
  }
  .assign {
    height: 35px;
    display: none;
    float: left;
    padding: 10px 10px 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 5px 0;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #D9E8F5;
    color: #7598B2;

  }

  .notification {
    &[data-state=noinputs] {
      .notification-icon {
        color: #000;
      }
    }
    &[data-state=success] {
      .notification-icon {
        color: #0F0;
      }
      .assign {
        display: inline-block;
      }
    }
    &[data-state=loading] {
      .notification-icon {
        color: #FFF;
      }
    }
    &[data-state=error] {
      .notification-icon {
        color: #7598B2;
      }
    }
  }
}

// Assign mode
body:not(.assign-mode) {
  .visible-if-assign-mode {
    display: none;
  }
  [data-assignable] {
    border: 1px solid transparent;
  }
}
body.assign-mode {
  .visible-if-not-assign-mode {
    display: none;
  }
  [data-assignable=""] {
    &:after {
      display: none;
    }
  }
  [data-assignable] {
    border: 1px dashed #0f0;
    background: rgba(0,255,0,0.1);
    position: relative;
    &:after {
      content: attr(data-assignable);
      font-size: 10px;
      font-family: monospace;
      background: #0f0;
      color: #000;
      padding: 2px 5px;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }
  [data-assignable=waiting] {
    border: 1px dashed #00f;
    background: rgba(0,0,255,0.1);
    &:after {
      background: #00f;
      color: #fff;
    }
  }
}
