html, body {
  padding: 0;
  margin: 0;
}

#wrapper {
  margin: 0 auto;
  width: 900px;
  height: 600px;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#tracker {
  height: 200px;
}

#modules-panel {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#module-properties {
  width: 200px;
}

#node-editor {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}


body {
  background: #000;
}
#wrapper {
  background: #333;
  color: #eee;
}
#tracker {
  background: #111;
}
#module-properties {
  background: #333;
}
#node-editor {
  background: #666;
}

#module-properties {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    padding: 5px 10px;
    margin: 0;
    position: relative;
    input[type=range] {
      width: 100%;
    }
    .title {
      float: left;
      color: #aaa;
    }
    .valueText {
      float: right;
      font-family: monospace;
    }
  }
}
