@(message: String)

@main("ZOUND live") {

  <div id="wrapper">
    <div id="tracker"></div>
    <div id="toolbar">
      <label class="volume">
        <i class="icon-volume-up"></i>
        <input id="volume" type="range" min=0 max=100 value=100 />
      </label>
      <span class="sep"></span>
      <!-- FIXME this are mocks and could be replace with a Backbone.View -->
      <span id="controls">
        <a href="#"><i class="icon-play"></i></a>
        <a href="#"><i class="icon-stop"></i></a>
      </span>
      <div id="midiNotification"></div>
    </div>
    <div id="modules-panel">
      <div id="module-properties"></div>
      <div id="node-editor"></div>
    </div>
  </div>

  <script type="text/css" id="users_style_template">
  [user-select="<%=name%>"] {
    border-color: hsla(<%=color%>, 60%, 50%, 0.8) !important;
    position: relative;
  }
  [user-select="<%=name%>"]:after {
    color: hsla(<%=color%>, 60%, 50%, 0.8);
    content: "<%=name%>";
    font-size: 8px;
    font-family: monospace;
    position: absolute;
    bottom: -10px;
    right: 0;
  }
  </script>

  <style type="text/css" id="users_style"></style>

  <script type="text/javascript">
  window.zound = {
    models: {},
    modules: {},
    ui: {}
  };
  </script>
  <script src="@routes.Assets.at("javascripts/audioMath.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/moduleProperty.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/module.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/slot.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/pattern.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/song.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/track.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/midiController.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/modules/Output.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/modules/Filter.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/modules/Generator.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/modules/Drum.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/keyboardController.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/playerController.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/models/user.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/ui/midiControllerNotification.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/ui/modulePropertiesEditor.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/ui/nodeEditor.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/ui/tracker.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/ui/trackerIncrement.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/network.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
}
