@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("vendors/font-awesome/css/font-awesome.min.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("vendors/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/underscore/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/backbone/backbone-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/raphael/raphael-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/q/q.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
        navigator.requestMIDIAccess = null; // disabled because is not working in today Chrome Canary
        </script>
        <script src="@routes.Assets.at("vendors/WebMIDIAPI.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
